body{
    background-color: rgb(38, 38, 38);
    color: bisque;
    margin: 0px;
    border: 0px;

}
#banner{
    background-color: rgb(31, 32, 32);
    text-align: center;
    padding: 25px;
    font-family: sans-serif;
    font-size: 20px;
    letter-spacing: 5px;
    border: 1px solid black;
}
#a {
    height: 550px;
    width: 100%;
    
}
#prawo{
    float: right;
    height: 100%;
    width: 49.8%;
    margin-right: 5px;
    background-color: rgb(38, 38, 38);
    text-align: center;
    margin: 0px;
    padding: 0px;
    border:1px solid black;
    padding-bottom: 5%;
}
#b{
    padding-top: 250px; 
    padding-left: 250px;
    
}
#lewo{
    padding-top: 150px;
    text-align: left;
    float: left;
    height: 100%;
    width: 49.8%;
    margin: 0px;
    background-color: rgb(38, 38, 38);
    padding: 0px;
    border:1px solid black;
    padding-bottom: 5%;
    
}

#stopka{
    float: right;
    height: 50px;
    background-color: rgb(32, 31, 31);
    text-align: right;
    width: 100%;
    border: 1px solid black;
    display: inline-block;
}